.title {
    font-family: Apercu;
}

.aboutBody {
    font-family: Apercu;
    font-size: 20px;
    line-height: 32px;
    max-width: 80%;
}

.aboutOuterDiv {
    margin-left: 5%;
    margin-top: 50px;
}

.bottom {
    margin-top: 58px;
}

@media only screen and (max-width: 600px) {
    .aboutOuterDiv {
        max-width: 100%;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 20px;
    }
    .title {
        font-family: Apercu;
        text-align: center;
    }
    .aboutBody {
        font-size: 18px;
        line-height: 32px;
        max-width: 100%;
    }
}

