.title {
    font-family: Abril;
}

.aboutBody {
    font-family: Apercu;
    font-size: 20px;
    line-height: 32px;
}

.topPad {
    margin-top: 60px
}

.aboutOuterDiv {
    margin-left: 5%;
    margin-top: 50px;
    max-width: 90%;
}

.bottom {
    margin-top: 58px;
}

.aboutImage {
    /* margin: 0 auto; */
}

.imageContainer {
    /* padding: 45px; */
}

@media only screen and (max-width: 600px) {
    .aboutOuterDiv {
        max-width: 100%;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 20px;
    }
    .title {
        font-family: Apercu;
        text-align: center;
    }
    .aboutBody {
        font-size: 18px;
        line-height: 32px;
        max-width: 100%;
    }
    .imageContainer {
        margin: 20px 0 20px 0;
    }
}

