
.outerDiv {
	display: flex;
	flex-wrap: wrap;
	margin-top: 50px;
}

.flex {
	display: flex;
	justify-content: space-around;
}

.flex-container {
	flex: 1 0 30%; /* explanation below */
    margin: 12px;
	min-width: 200px;
}

.img1-wrap {
	position: relative;
	overflow: hidden;
}

.image {
	width: 100%;
}

.overlay {
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	/* background-color: rgba(238,206,23, 0.8); */
	overflow: hidden;
    transition: opacity 2s ease-in-out;
    -moz-transition: opacity 2s ease-in-out;
    -webkit-transition: opacity 2s ease-in-out;
	backdrop-filter: blur(9px);
}

.img1-wrap:hover .overlay {
	height: 100%;
}

.text {
	white-space: nowrap; 
	color: #444444;
	font-size: 20px;
	position: absolute;
	overflow: hidden;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

.socialIcon {
	height: 20px;
	margin: 5px
}

.displayNone {
	display: none
}

a {
	color: black;
}

a:hover {
	color: #F9F3eF;
}

.socialIcons {
	display: flex;
	justify-content: space-around
}

.tags {
	position: fixed;
	left: 20px;
	top: 450px;
}

.flexCenter {
	display: flex;
    align-items: center;
    justify-content: center;
}

.flexCenterReverse {
	display: flex;
    align-items: center;
    justify-content: center;
	flex-direction: row-reverse
}
