.catalogue {
	border-bottom: 1px dashed;
	width: 80%
}

.outerDiv {
	display: flex;
	flex-wrap: wrap;
}

.flex {
	display: flex;
}

.flexCenter {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.flexAround {
	display: flex;
	justify-content: space-around;
	width: 150px;
	height: 33px;
}

.flex-container {
	flex: 1 0 30%; /* explanation below */
    margin: 6px;
	min-width: 200px;
}

.img1-wrap {
	position: relative;
	overflow: hidden;
	align-items: center;
	justify-content: center;
}

.artistName {
	color:white;
	text-align: center;
}

.image {
    width: 450px;
    height: 250px;
    object-fit: cover;
}

.img1-wrap:hover .image {
	transform: scale(1.2);
}

.overlay {
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(	0, 0, 0, 0.6);
	overflow: hidden;
    transition: opacity 2s ease-in-out;
    -moz-transition: opacity 2s ease-in-out;
    -webkit-transition: opacity 2s ease-in-out;
	max-width: 495px;;
	/* backdrop-filter: blur(2px); */
}

.img1-wrap:hover .overlay {
	height: 100%;
}

.text {
	white-space: nowrap; 
	color: #444444;
	font-size: 20px;
	position: absolute;
	overflow: hidden;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

.socialIcon {
	height: 20px;
	margin: 5px
}

.displayNone {
	display: none
}

a {
	color: white;
}

a:hover {
	color: palevioletred;
}

.socialIcons {
	display: flex;
	justify-content: space-around
}

.tags {
	position: fixed;
	left: 20px;
	top: 450px;
}

.flexCenter {
	display: flex;
    align-items: center;
    justify-content: center;
}

.flexCenterReverse {
	display: flex;
    align-items: center;
    justify-content: center;
	flex-direction: row-reverse
}

.emailCopy {
	font-size: 15px;
	color: white;
	text-align: right;
	font-family: Apercu;
	opacity: 0;
}

.display {
	opacity: 1;
}

.iconP {
	font-size: 23px;
	cursor: pointer;
}


/* mobile */
@media only screen and (max-width: 800px) {
	.outerDiv {
		display: block;
	}
}

/* ipad */
/* @media only screen and (min-width: 700px) and (max-width: 1280px) {
    .flexEven {
        width: 700px;
        display: flex;
        flex-wrap: wrap;
        justify-content: end;
        align-items: flex-end;
      }
      .flexEven>* {
          flex: 0 0 240px;
      }
      .yearTitle {
        margin-top: 20px;
    }
} */

