.flexEven {
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
    margin-top: 30px;
    text-align: center;
}

.graduateName {
    margin-bottom: 5px;
    font-family: Apercu;
    font-size: 20px;
}

.graduateEmail {
    font-family: Apercu;
    font-size: 16px;
    line-height: 32px;
}

.title {
    text-align: center;
}

.yearTitle {
    font-family: Abril;
    font-size: 30px;
}

/* mid size */
@media only screen and (min-width: 768px) {
    .flexEven {
        flex-direction: row;
        text-align: left;
    }
    .flex {
        justify-content: center;
    }
    .parentContainer {
        flex: 1;
        margin: 0 30px 0 30px;
    }
    .title {
        text-align: left;
        padding-left: 25px;
    }
}

/* larger size */
@media only screen and (min-width: 1224px) {
    .flexEven {
        text-align: left;
    }
    .parentContainer {
      display: flex;
    }
    .childContainer {
      flex: 1;
      margin: 0 10px 0 10px;
    }
    .childContainer+.childContainer {
      margin-top: 3.1rem;
    }
    .title {
        text-align: left;
    }
  }