
.graduateYearColumn {
    margin-right: 50px;
    /* border: 1px dashed blue;
    height: 50px; */
}

.flexEven {
    display: flex;
    justify-content: space-between;
    /* max-width: 500px; */
    margin-top: 30px;
}

.graduateName {
    margin-bottom: 5px;
    font-family: Apercu;
    font-size: 20px;
}

.graduateEmail {
    /* color: black; */
    font-family: Apercu;
    font-size: 16px;
    line-height: 32px;
}

.yearTitle {
    font-family: Abril;
    font-size: 30px;
}