.splashLayout {
    position: relative;

}

.gif {
    width: 100%;
}

.indexContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}


.enterButton {
    font-family: Abril;
    font-size: 40px;
    color: #167034;
    text-decoration: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    border: none;
    cursor: pointer;
    text-align: center;
    opacity: 0;
    padding-top: 40px
}

.show {
    opacity: 100%;
    transition: opacity 1s
}

.enterButton:hover {
    color: #eece17
}

.splashGif {
    /* width: 100%;
    height: auto; */
    background-size:cover
}


/* larger screen */
@media only screen and (min-width: 500px) {
    .gif {
        height: 100vh;
        width: auto;
    }
    .indexContainer {
        height: 100vh;
    }
    .enterButton {
        color: white;
    }
}
