
.header {
    position: fixed;
    width: 200px;
    left: 0;
    margin-left: 15px;
    margin-top: -20px;
}

.logoImage {
    margin-left: -7px;
}

.menuLink {
    font-size: 20px;
    text-decoration: none;
    color: #167034;
    margin: 10px;
    letter-spacing: 0.5px;
}

.menuLink:hover {
    color: palevioletred;
}

.TopNav {
    padding-bottom: 5px;
}

.navLinkSection {
    margin-top: 30px;
}

button {
    padding: 0;
}

.active {
    font-size: 20px;
    text-decoration: none;
    margin: 10px;
    padding-bottom: 1px;
    color: palevioletred;
    width: fit-content;
}

ul {
    list-style-type: none;
    /* border-left: 7px palevioletred solid; */
}

li{
    cursor: pointer;
    font-family: Abril, serif;
    margin-bottom: 5px
}

/* li:second-child {
    padding-top: 20px
} */

.tagFilter {
    /* font-style: italic; */
    margin-bottom: 2px;
    font-family: 'Apercu';
    font-weight: 200;
    font-size: 16px;
}

li button:hover {
    color: palevioletred;
}

.twist {
    transform: rotate(50deg);
    -webkit-transform: rotate(50deg);
}

.tagFilter:hover .twist {
    overflow: hidden;
    transition-duration: 0.8s;
    transition-property: transform;
    transform: rotate(410deg);
    -webkit-transform: rotate(410deg);
}

.twistTwo {
    transform: rotate(120deg);
    -webkit-transform: rotate(120deg);
}

.tagFilter:hover .twistTwo {
    overflow: hidden;
    transition-duration: 0.8s;
    transition-property: transform;
    transform: rotate(480deg);
    -webkit-transform: rotate(480deg);
}

.tagFilter:hover .noTwist {
    overflow: hidden;
    transition-duration: 0.8s;
    transition-property: transform;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}

.tagActive {
    color: palevioletred;
    
}

button {
    background-color: transparent;
    border: none;
    color: #167034;
}

/* FOR MOBILE */

.headerMobile {
    width: 100%;
}

.paddingTop{
	padding-top: 20px;;
}

.filterBy {
    font-size: 15px;
    color: #167034;
    margin: 10px;
    letter-spacing: 0.5px;
    width: 50%;
    text-align: center;
}

@media only screen and (min-width: 600px) {
    .headerMobile {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .headerDesktop {
        display: none;
    }
    .flex {
        display: block;
    }
    .bodyLayout {
        margin-left: 0px;
    }
    .tagFilter {
        margin-bottom: 6px;
        flex-shrink: 3;
                width: 50%;
        margin: 0;
        text-align: left;
    }
    .tagFilter:hover {
        color: palevioletred;
        margin-left: 0;
    }
    .tagFilter:hover ~ .icon {
        overflow: hidden;
        transition-duration: 0.8s;
        transition-property: transform;
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
    .bodyLayout {
        max-width: 100%;
    }
    
}

