
.header {
    position: fixed;
    width: 240px;
    left: 0;
    margin-left: 30px;
}

.logoImage {
    /* float:right;
    clear:right; */
    padding: 15px;
    margin-bottom: 40px;
}

.menuLink {
    font-size: 25px;
    text-decoration: none;
    color: #167034;
    margin: 10px;
    margin-left: 15px;
    letter-spacing: 0.5px;
}

.menuLink:hover {
    color: #15b34a;
}

.TopNav {
    padding-bottom: 15px;
}

.navLinkSection {
    margin-top: 30px;
}

.active {
    font-size: 25px;
    text-decoration: none;
    margin: 10px;
    margin-left: 15px;
    padding-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-width: 3.1px;
    width: fit-content;
}

ul {
    list-style-type: none;
    border-left: 7px #15b34a solid;
}

li{
    cursor: pointer;
    font-family: Abril, serif;
}

/* li:second-child {
    padding-top: 20px
} */

.tagFilter {
    color: #15b34a;
    font-style: italic;
    margin-left: 25px;
    margin-bottom: 10px;
    font-family: Abril, serif;
    font-weight: 200;
}

.tagFilter:hover {
    color: palevioletred;
    font-style: italic;
    margin-left: 25px;
}

.tagFilter:hover .icon {
    overflow: hidden;
    transition-duration: 0.8s;
    transition-property: transform;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
 }

.tagActive {
    color: palevioletred;
}

button {
    background-color: transparent;
    border: none;
    color: #15b34a;
}